:root {
    --clr-primary-red:hsl(0, 78%, 62%);
    --clr-primary-cyan:hsl(180, 62%, 55%);
    --clr-primary-orange:hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);
    --clr-neutral-darkblue:hsl(234, 12%, 34%);
    --clr-neutral-grayblue: hsl(229, 6%, 66%);
    --clr-neutral-lightgray: hsl(0, 0%, 98%);

    --font-family-all: "Poppins", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

body {
    font-family: var(--font-family-all);
    font-size: 15px;
}

.main-grid{
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    justify-items: center;
    margin: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.center-column {
    display: grid;
}

@media (max-width: 600px) {
    .grid{
        grid-template-columns: auto;
    }
}

.header{
    text-align: center;
    width: 500px;
    padding: 30px 0 10px 0;
}

p{
    color: var(--clr-neutral-grayblue);
}

.content {
    margin-top: 10px;
}

.moto {
    font-size: 1.9rem;
    font-weight: 200;
    color: var(--clr-neutral-darkblue);
}

h1{
    color: var(--clr-neutral-darkblue);
}

/* cards style */
.card {
    width: 450px;
    height: 300px;
    margin: 20px;
    border: 1px solid var(--clr-neutral-lightgray);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 5px 15px 5px var(--clr-neutral-lightgray);
}

.supervisor {
    border-top: 5px solid var(--clr-primary-cyan);
}

.teambuilder {
    border-top: 5px solid var(--clr-primary-red);
}

.karma {
    border-top: 5px solid var(--clr-primary-orange);
}

.calculator {
    border-top: 5px solid var(--clr-primary-blue);
}

.icon {
    position: relative;
    bottom: -100px;
    left: 300px;
}